<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People List</title>
</head>
<body>
<h1>People List</h1>
<table border="1">
    <thead>
    <tr>
        <th>Index</th>
        <th>First Name</th>
        <th>Family Name</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person, stat : ${people}">
        <td th:text="${stat.index}">0</td>
        <td th:text="${person.firstName}">Szymon</td>
        <td th:text="${person.familyName}">Sroka</td>
        <td>
            <a th:href="@{/people/{index}(index=${stat.index})}">Details</a>
        </td>
    </tr>
    </tbody>

</table>
<a href="/">Back</a>
<a href="/people/add">Add new person</a>
</body>
</html>